header {
    background-color: #00000000;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    margin-top: 1rem;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-family: var(--logo-font);
    font-size: 4rem;
    color: var(--text-color);
    text-decoration: none;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: var(--text-color);
    position: relative;
    padding-bottom: 2px;
}

.logo a, .logo a:hover {
    color: var(--text-color);
}

.logo a::after {
    display: none;
}

a.icon::after {
    display: none;
    content: none;
}

a:not(.logo a):not(.icon):hover::after {
    width: 100%;
}

header nav a:hover {
    color: var(--accent-color);
    transition: all 0.3s ease;
}

header nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--accent-color);
    transition: all 0.3s ease;
}

header nav a:hover::after {
    width: 100%;
}

/* === Cart === */
.cart-button {
    position: relative;
    background-color: transparent;
    color: var(--text-color);
    border: none;
    font-size: 1rem;
}

.cart-button:hover {
    color: var(--accent-color);
    transition: all 0.3s ease;
    cursor: pointer;
}

.cart-badge {
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: red;
    color: white;
    font-size: 0.7rem;
    border-radius: 50%;
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}