section {
    height: 100vh;
}

/* === HERO SECTION === */

.hero-section {
    padding: 5rem 0;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 70%, rgba(0, 0, 0, 1)), url(https://res.cloudinary.com/dzcqnchjm/image/upload/v1746553300/Backdrop-grey_1_rzbx3j.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0 -3rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Overlay för att minska ljusstyrkan på bara bakgrundsbilden */
.hero-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Justera opaciteten för att få önskad ljusstyrka */
    z-index: 1;
    pointer-events: none; /* Gör så att överlägget inte blockerar interaktioner */
}

.hero-section * {
    position: relative;
    z-index: 2; /* Placerar innehållet ovanför det mörka överlägget */
}

.hero-content {
    display: flex;
    align-items: center;
    width: 70%;
    justify-content: space-between;
}

.hero-text-div {
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
}

.hero-text {
    font-size: 5rem;
    color: var(--text-color);
    margin: 0;
    text-align: left;
}


.shop-now-button {
    background-color: #B47C5400;
    color: var(--text-color);
    padding: 0.5rem 1rem;
    margin-top: 1rem;
    width: fit-content;
    border-radius: 8px;
    border: 1px solid #B47C54;
    font-size: 1.2rem;
    transition: all 0.3s ease;
}

.shop-now-button:hover {
    background-color: #A06A4B;
    color: var(--text-color);
    cursor: pointer;
}

.hero-image img {
    transform: scale(1.2);
}