.store {
    display: flex;
    gap: 2rem; 
    padding: 2rem;
    align-items: flex-start;
  }

.all-categories-btn {
    color: white;
    font-weight: 300;
    font-size: 16px;
    display: inline-block;
    border-bottom: 1px solid #444;
    padding-bottom: 0.3rem;
    padding-right: 6rem;
    margin-bottom: 1rem;
    background: none;
    border-left: none;
    border-top: none;
    border-right: none;
}

.all-categories-btn:hover{
  cursor: pointer;
}

.sidebar {
    margin-top: 10em;
    font-family: var(--main-fonth);
}

.sidebar ul {
    display: flex;
    flex-direction: column;
    color: #696767;
    font-size: 15px;
}

.category-btn{
  color: #696767;
  font-family: var(--main-fonth);
  background:none;
  border:none;
  font-size: 15px;
  transition: all 0.3s ease;
}

.category-btn:hover{
  cursor: pointer;
  
}

.category-btn:focus{
  color: white;
  transition: all 0.3s ease;
}

.sidebar ul li {
    margin-bottom: -0.5rem;
}


.product-grid-container{
    margin-top: 10em;
    font-family: var(--main-fonth);
}

.product-grid-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    padding: 2rem;
    flex: 1;
  }
  
.product-image-container {
  position: relative;
  width: 200px;
  height: auto;
  aspect-ratio: 2.5 / 4; /* Keeps heigh/width ratio */
  overflow: hidden;
  transition: all 0.3s ease;
}

.product-img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease;
}

.main-img {
  opacity: 1;
  z-index: 1;
}

.hover-img {
  opacity: 0;
  z-index: 2;
  background: linear-gradient(#424242, #ffffff);
}

.product-image-container:hover .hover-img {
  opacity: 1;

}

.product-image-container:hover .main-img {
  opacity: 0;
}

.product-image-container:hover {
  transform: scale(1.03);
  cursor: pointer;
}

.product-description{
  font-weight: 200;
  font-size: 13px;
  max-width: 200px;
  color: #696767;
  transition: all 0.3s ease;
}

.product-description:hover {
  color: white;
  transition: all 0.3s ease;
}

.product-name {
  max-width: 200px;
  margin-bottom: -0.6em;
  font-weight: 300;
}

.product-price{
  max-width: 200px;
  font-weight: 300;
}